@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    background-image: url("public/images/fd_elige3n.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    font-family: 'Roboto', sans-serif;
    color: white;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 110vh;
    padding-bottom: 15vh;
}

.timeline {
    padding-top: 3vh;
    min-height: 110vh;
    position: relative;
}

img {
    max-width: 100%;
    display: block;
}

.picture_container {
    display: grid;
    align-items: end;
    border-radius: 0 0 100vw 100vw;
    overflow: hidden;
    aspect-ratio: 1/1.4;
    width: 40vw;
    transition: transform 250ms ease-in-out;
}

.p_picture {
    position: relative;
    max-width: 20rem;
    margin-inline: auto;
    transition: transform 250ms ease-in-out
}

.photo {
    position: relative;
    z-index: 2;
    transform: scale(1.5);
    transition: transform 250ms ease-in-out
}

.circle {
    position: absolute;
    inset: auto 0 0;
    bottom: 0;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    margin-inline: auto;
    transition: transform 250ms ease-in-out
}

.picture_container:hover {
    transform: scale(1.1);
}

.picture_container:hover .photo{
    transform: 
    scale(1.5)
    translateY(-1rem);
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translatex(-100%);
    transition: all 1.5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translatex(0);
}

.i_container {
    padding-top: 5vh;
    display: flex;
}

.i_container i{
    padding-right: 1vw;
    padding-left: 1vw;
    font-size: 5rem;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item i{
    padding-top: 2vh;
    font-size: 3rem;
}

.item p{
    font-size: 1rem;
}

.exp {
    padding-top: 5rem;
    text-align: center;
}

.arrow {
    position: absolute;
    z-index: -1;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    margin: auto;
}

.arrow-container {
    position: relative;
}

.dot1 {
    border-radius: 100%;
    position: absolute;
    width: 1rem;
    top: 0%;
    bottom: 0%;
    left: -60%;
    right: 0%;
    margin: auto;
}

.dot2 {
    border-radius: 100%;
    position: absolute;
    width: 1rem;
    top: 0%;
    bottom: 0%;
    left: -30%;
    right: 0%;
    margin: auto;
}

.dot3 {
    border-radius: 100%;
    position: absolute;
    width: 1rem;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    margin: auto;
}

.dot4 {
    border-radius: 100%;
    position: absolute;
    width: 1rem;
    top: 0%;
    bottom: 0%;
    left: 30%;
    right: 0%;
    margin: auto;
}

.dot5 {
    border-radius: 100%;
    position: absolute;
    width: 1rem;
    top: 0%;
    bottom: 0%;
    left: 60%;
    right: 0%;
    margin: auto;
}

.dot-text1 {
    opacity: 0;
    display: grid;
    gap: 1.5rem;
    margin-left: 15vw;
    margin-right: 15vw;
    border-radius: 10px;
    background-color: #895E92;
    padding: 1Rem;
    position: absolute;
    top: 12rem;
}

.dot-text2 {
    opacity: 0;
    display: grid;
    gap: 1.5rem;
    margin-left: 15vw;
    margin-right: 15vw;
    border-radius: 10px;
    background-color: #895E92;
    padding: 1Rem;
    position: absolute;
    top: 12rem;
}

.dot-text3 {
    opacity: 0;
    display: grid;
    gap: 1.5rem;
    margin-left: 15vw;
    margin-right: 15vw;
    border-radius: 10px;
    background-color: #895E92;
    padding: 1Rem;
    position: absolute;
    top: 12rem;
}

.dot-text4 {
    opacity: 0;
    display: grid;
    gap: 1.5rem;
    margin-left: 15vw;
    margin-right: 15vw;
    border-radius: 10px;
    background-color: #895E92;
    padding: 1Rem;
    position: absolute;
    top: 12rem;
}

.dot-text5 {
    opacity: 0;
    display: grid;
    gap: 1.5rem;
    margin-left: 15vw;
    margin-right: 15vw;
    border-radius: 10px;
    background-color: #895E92;
    padding: 1Rem;
    position: absolute;
    top: 12rem;
}


.item a {
    text-decoration: none;
    color: white;
}

.totop {
    color: white;
    position: fixed;
    font-size: 3rem;
    bottom: 4vh;
    right: 4vw;
    opacity: 0;
    transition: all 1s;
    pointer-events: none;
}

.totop.active {
    opacity: 1;
    pointer-events: all;
}

@media (min-width: 768px) {

    .picture_container {
        width: 20vw;
    }
}
